<% snacks.each do |snack| %>
<table class="table table">
  <tr>
    <td>
      <!--管理者側でログインしていたら管理者側の会員のおつまみ詳細を表示させる-->
      <% if admin_signed_in? %>
        <%= link_to admin_snack_path(snack) do %>
          <%= image_tag snack.get_image(100,100) %>
        <% end %>
      <% else %>
        <%= link_to snack_path(snack) do %>
          <%= image_tag snack.get_image(100,100) %>
        <% end %>
      <% end %>
    </td>
    <td>
      <% if admin_signed_in? %>
        <%= link_to admin_snack_path(snack) do %>
          <%= snack.title %>
        <% end %>
      <% else %>
        <%= link_to snack_path(snack) do %>
          <%= snack.title %>
        <% end %>
      <% end %>
    </td>
    <td></td>
    <td id="favorite-btn_<%= snack.id %> ml-5">
      <%= render 'public/favorites/favorite-btn', snack: snack %><br>
      コメント：<%= snack.snack_comments.count %>
    </td>
  </tr>
</table>
<% end %>