<div class="container" style="margin-bottom: 100px; margin-top: 50px;">
  <div class="row" style="margin-left: 100px;">
    <h4>プロフィール編集</h4>
  </div>
  <div class="row justify-content-center mt-2">
    <%= render 'layouts/errors', obj: @customer %>
  </div>

  <%= form_with model: @customer do |f| %>
    <div class="row justify-content-center mt-3">
      <table class="table table-borderless col-6">
        <tr>
          <td>プロフィール画像</td>
          <td><%= f.file_field :profile_image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td>ユーザー名</td>
          <td><%= f.text_field :user_name, placeholder: 'ユーザー名', class: 'col-10' %></td>
        </tr>
        <tr>
          <td>自己紹介</td>
          <td><%= f.text_area :introduction, rows:'5', placeholder: 'ここに紹介文を記述します', class: 'col-10' %></td>
        </tr>
      </table>
    </div>

    <div class="row d-flex justify-content-center">
      <%= f.submit '変更を保存', class: 'btn btn-lg text-light col-3 rounded-pill mt-5', style: 'background-color: #A0522D;' %>
    </div>

    <div class="row d-flex justify-content-end">
      <%= link_to '退会する', confirm_withdraw_customers_path, class: 'btn btn-danger btn-sm mr-5' %>
    </div>
  <% end %>

</div>