<% if !@customer.is_active %>         <!--退会したユーザーをurlで検索された場合の表示画面-->
  <h2 class="row justify-content-center text-muted" style="width: 100%; margin-top: 150px;">このユーザーは退会済みです</h2>
<% else %>

<div class="notice mt-2 ml-2">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 180px; margin-top: 50px;">
  <div class="row mb-4" style="margin-left: 50px;">
    <% if @customer == current_customer %>
      <h4>マイページ</h4>
    <% else %>
      <h4><%= @customer.user_name %>さんのページ</h4>
    <% end %>
  </div>

  <%= form_with model: @customer do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @customer.get_profile_image(200,200), class: 'col mb-3', style: 'border-radius: 50%; background-position: center;' %>
      <table class="table table-borderless">
        <tr>
          <td class="col-6" style="margin-bottom: 20px;">ユーザー名：</td>
          <td class="col-6"><%= @customer.user_name %></td>
        </tr>
        <tr>
          <td>自己紹介：</td>
          <td><%= @customer.introduction %></td>
        </tr>
      </table>
      <% if @customer == current_customer && !@customer.guest_user? %>
    　<div>
        <%= link_to edit_customer_path, class: 'btn btn-outline-secondary col mb-5' do %>
          <i class="fa-solid fa-gear"></i>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="mb-3 ml-2" style="font-size: 20px;">
        <strong>マイおつまみレシピ</strong>
      </div>
      <% if @snacks.present? %>
        <%= render 'public/customers/snacks-index', snacks: @snacks %>
      <% else %>
        <h4 class="row justify-content-center text-muted" style="margin-top: 100px;">
          投稿はまだありません
        </h4>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="row justify-content-center mb-3">
    <%= paginate @snacks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
<% end %>