<div class="notice">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 100px; margin-top: 40px;">
  <div class="row mb-3" style="margin-left: 50px;">
    <% if @customer == current_customer %>
      <h4>マイページ</h4>
    <% else %>
      <h4><%= @customer.user_name %>さんのページ</h4>
    <% end %>
  </div>

  <%= form_with model: @customer do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @customer.get_profile_image(200,200), class: 'rounded-circle' %>
      <table class="table table-borderless">
        <tr>
          <td style="margin-bottom: 20px;">ユーザー名：</td>
          <td><%= @customer.user_name %></td>
        </tr>
        <tr>
          <td>自己紹介：</td>
          <td><%= @customer.introduction %></td>
        </tr>
      </table>
      <% if @customer == current_customer && !@customer.guest_user? %>
    　<div>
        <%= link_to '設定', edit_customer_path(@customer), class: 'btn btn-outline-secondary col' %>
      </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div style="font-size: 20px;">
        <strong>マイおつまみレシピ</strong>
      </div>
      <%= render 'public/customers/snacks-index', snacks: @snacks %>
    </div>
  </div>
  <% end %>
  
  <div class="row d-flex justify-content-center mb-3">
    <%= paginate @snacks %>
  </div>
  
</div>