<div class="container">
  <div class="row">
    <h4>マイページ</h4>
  </div>

  <%= form_with model: @customer do |f| %>
  <div class="row">
    <%= image_tag @customer.get_profile_image(200,200) %>
    <table class="table table-borderless">
      <tr>
        <td>ユーザー名：</td>
        <td><%= @customer.user_name %></td>
      </tr>
      <tr>
        <td>自己紹介：</td>
        <td><%= @customer.introduction %></td>
      </tr>
    　<tr>
        <td><%= link_to '設定', edit_customer_path(@customer), class: 'btn btn-outline-secondary' %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <table class="table table-hover">
      <tr>
        <th>マイおつまみレシピ</th>
      </tr>
      <% @snacks.each do |snack| %>
      <tr>
        <td><%= image_tag @customer.snack.get_image(70,70) %></td>
        <td><%= @customer.snack.title %></td>
        <!--<td>♡いいね： <#%= @favorite.count %></td>-->
        <!--<td>コメント： <#%= @recipe_comment.count %></td>-->
      </tr>
      <% end %>
    </table>
  </div>
  <% end %>
</div>