<div class="notice mt-2 ml-2">
  <%= flash[:notice] %>
</div>

<!--お酒ジャンル検索-->
<div class="container" style="margin-bottom: 30px; margin-top: 50px;">
  <div class="row">
    <div class="col-2">
      <h5><strong>お酒ジャンル検索</strong></h5>
      <% if @sakes.present? %>
        <table class="table table mt-2 search">
          <% @sakes.each do |sake| %>
            <tbody style="padding: 15px;">
              <tr>
                <td>
                  <%= link_to sake.genre, sake_snacks_path(sake_id: sake.id), class: "text-dark", style: 'font-weight: bold; font-size: 18px;' %>
                </td>
                <td style="font-weight: bold;">
                  <%= link_to sake_snacks_path(sake_id: sake.id), class: 'text-dark' do %>
                  ( <%= sake.snacks.count %> )
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% end %>
    </div>
    <div class="col" style="margin: 0 50px; background-image: url('<%= asset_path('top4.jpg') %>'); background-size: cover; height: 430px;"></div>
  </div>
</div>

<div class="container" style="margin-bottom: 50px; margin-top: 80px;">
  <div class="row">
    <!--タグ検索-->
    <div class="col-2">
      <%= render 'public/homes/taglist', tags: @tags%>
    </div>

    <!--今月のおすすめ-->
    <% if @snack.present? %>
      <div class="col-9">
        <h3 class="row pl-5 ml-1" style="font-family: 'Yusei Magic', sans-serif;"><i class="fa-regular fa-thumbs-up"></i> 今月のおすすめ</h3>
        <div class="recommend container ml-5 mt-1">
          <div class="row" style="margin-top: 50px;">
            <div class="col-4 ml-5">
              <%= link_to snack_path(@snack), class: "text-dark", style: 'font-size: 60px; font-family: Rampart One, sans-serif;' do %>
                <strong><%= @snack.sake.genre %></strong>
              <% end %>
            </div>
            <div class="col-1 ml-4 mr-5" style='font-size: 60px;'>✖</div>
            <div class="col-4 ml-5">
              <%= link_to snack_path(@snack) do %>
                <%= image_tag(@snack.get_image(250,200), style: 'border-radius: 10%;') %>
              <% end %>
              <div class="col">
                <%= link_to snack_path(@snack) do %>
                  <h3 class="text-dark pr-2 pb-2" style="width: 100%; max-width: 250px; word-break: break-word;">
                    <strong><%= @snack.title %></strong>
                  </h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container" style="margin-bottom: 150px; margin-top: 80px;">
  <div class="row">
    <div class="col-2"></div>

    <!--人気のおつまみ-->
    <% if @most_favorited.present? && @most_favorited.favorites.count > 0 %>
      <div class="col-9">
        <h3 class="row pl-5 ml-1" style="font-family: 'Yusei Magic', sans-serif;"><i class="fa-solid fa-crown" style="color: #FFCC00;"></i>人気のおつまみ</h3>
        <div class="recommend container ml-5 mt-1">
          <div class="row" style="margin-top: 50px;">
            <div class="col-4 ml-5">
              <%= link_to snack_path(@most_favorited.id), class: "text-dark", style: 'font-size: 60px; font-family: Rampart One, sans-serif;' do %>
                <strong><%= @most_favorited.sake.genre %></strong>
              <% end %>
            </div>
            <div class="col-1 ml-4 mr-5" style='font-size: 60px;'>✖</div>
            <div class="col-4 ml-5">
              <%= link_to snack_path(@most_favorited) do %>
                <%= image_tag(@most_favorited.get_image(250,200), style: 'border-radius: 10%;') %>
              <% end %>
              <div class="col">
                <%= link_to snack_path(@most_favorited) do %>
                  <h3 class="text-dark pr-2 pb-2" style="width: 100%; max-width: 250px; word-break: break-word;">
                    <strong><%= @most_favorited.title %></strong>
                  </h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

