<div class="notice mt-2 ml-3">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 30px; margin-top: 50px;">
  <!--お酒ジャンル検索-->
  <div class="row">
    <div class="col-2">
      <h5><strong>お酒ジャンル検索</strong></h5>
      <table class="table table">
        <% @sakes.each do |sake| %>
          <tbody>
            <tr>
              <td>
                <%= link_to sake.genre, sake_snacks_path(sake_id: sake.id), class: "text-dark" %>
              </td>
              <td>( <%= sake.snacks.count %> )</td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="col text-center" style="margin: 0 50px; background-image: url('<%= asset_path('top.jpg') %>'); background-size: cover; height: 400px;">
      <div class="d-flex align-items-center justify-content-center" style="wifth: 1200px; height: 400px;">
        <div style="background-color: rgba(255,255,255,.7); font-family:'Playfair Display', serif;">
          <h5 style="padding: 30px;">
            <p>お酒の種類ごとに合ったおつまみを紹介するサイトです。</p><br>
            <p>お酒がよりおいしく、楽しくなること間違いなし！！</p>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 150px; margin-top: 80px;">
  <!--タグ検索-->
  <div class="row">
    <div class="col-2">
      <%= render 'public/homes/taglist', tags: @tags%>
    </div>

    <!--今月のおすすめ-->
    <div class="col-9">
      <div class="row justify-content-center">
        <h3>今月のおすすめ</h3>
      </div>
      <div class="container ml-5" style="padding: 10px; margin-bottom: 10px; margin-right: 50px; border: 1px dashed #333333;">
        <div class="row ml-5 mt-5 mb-4">
          <%= link_to admin_recommendation_snack_path(@snack), class: "text-dark link-underline-dark" do %>
            <h1><strong><%= @snack.sake.genre %><strong></h1>
          <% end %>
        </div>
        <div class="row justify-content-center mb-3"><h2>✖</h2></div>
        <div class="row justify-content-end mr-5 mb-3">
          <%= link_to snack_path(@snack) do %>
            <%= image_tag(@snack.get_image(250,200)) %><br>
            <h3 class="text-dark link-underline-dark"><strong><%= @snack.title %></strong></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

