<div class="notice mt-2 ml-2">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 30px; margin-top: 50px;">
  <!--お酒ジャンル検索-->
  <div class="row">
    <div class="col-2">
      <h5><strong>お酒ジャンル検索</strong></h5>
      <% if @sakes.present? %>
        <table class="table table mt-2 search">
          <% @sakes.each do |sake| %>
            <tbody style="padding: 15px;">
              <tr>
                <td>
                  <%= link_to sake.genre, sake_snacks_path(sake_id: sake.id), class: "text-dark" %>
                </td>
                <td class="text-dark">( <%= sake.snacks.count %> )</td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% end %>
    </div>
    <div class="col" style="margin: 0 50px; background-image: url('<%= asset_path('top4.jpg') %>'); background-size: cover; height: 430px;"></div>
  </div>
</div>

<div class="container" style="margin-bottom: 150px; margin-top: 80px;">
  <!--タグ検索-->
  <div class="row">
    <div class="col-2">
      <%= render 'public/homes/taglist', tags: @tags%>
    </div>

    <!--今月のおすすめ-->
    <% if @snack.present? %>
      <div class="col-9">
        <div class="row justify-content-center">
          <h3>今月のおすすめ</h3>
        </div>
        <div class="recommend container ml-5 mt-1">
          <div class="row justify-content-center" style="margin-top: 50px;">
            <div class="col-3 ml-5">
              <%= link_to snack_path(@snack), class: "text-dark" do %>
                <h1><strong><%= @snack.sake.genre %></strong></h1>
              <% end %>
            </div>
            <div class="col-2"><h1>✖</h1></div>
            <div class="col-5">
              <%= link_to snack_path(@snack) do %>
                <%= image_tag(@snack.get_image(250,200)) %>
              <% end %>
              <div class="col">
                <%= link_to snack_path(@snack) do %>
                  <h3 class="text-dark pr-2" style="width: 100%; max-width: 250px; word-break: break-word;">
                    <strong><%= @snack.title %></strong>
                  </h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

