<!--おつまみ詳細画面-->

  <!--おつまみ情報-->
  <div class="row d-flex justify-content-center">
    <h3 style="border-bottom: 6px double #000000;"><strong><%=safe_join(snack.title.split("\n"),tag(:br))%></strong></h3>     <!--改行表示-->
  </div>

  <div class="row mt-5" style="margin-bottom: 100px;">
    <div class="col ml-5">
      <%= image_tag snack.get_image(400,400) %>
    </div>
    <table class="table table-borderless col mr-5">
      <tr>
        <th class="col-7"><h5 style="text-decoration: underline;">おつまみ紹介文</h5></th>
      </tr>
      <tr>
        <td><%=safe_join(snack.introduction.split("\n"),tag(:br))%></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>合うお酒： <strong><%= snack.sake.genre %></storong></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>タグ：
        <% snack_tags.each do |tag| %>
          <strong><i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
          </storong>
        <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <% if current_customer && snack.customer == current_customer %>
            <tr>
              <td>あなたの投稿</td>
            </tr>
          <% elsif snack.customer.present? %>
            <tr>
              <td>
                <div>
                <%= link_to customer_path(snack.customer) do %>
                  <%= image_tag snack.customer.get_profile_image(100,100), class: 'col-3 mr-2 rounded-circle' %>
                  <%= snack.customer.user_name %>
                <% end %>
                </div>
              </td>
            </tr>
          <% else %>
            <tr>
              <td>運営者による投稿</td>
            </tr>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <!--おつまみのレシピ情報-->
  <div class="row d-flex justify-content-center mt-5">
    <h4 style="text-decoration: underline;">レシピ</h4>
  </div>

  <div class="row mt-3 mb-2">
    <div class="col recipe mr-4">
      <span class="recipe-title">材料</span>
      <p><%=safe_join(snack.ingredients.split("\n"),tag(:br))%></p>
    </div>
    <div class="col recipe">
      <span class="recipe-title">作り方</span>
      <p><%=safe_join(snack.process.split("\n"),tag(:br))%></p>
    </div>
  </div>

  <div class="row ml-1">
    投稿日：<%= snack.created_at.strftime("%Y/%m/%d") %>
  </div>

  <!--いいね-->
  <h5>
    <div id="favorite-btn_<%= snack.id %>" class="row justify-content-end mb-5" style="margin-right: 70px;">
      <%= render 'public/favorites/favorite-btn', snack: snack %>
    </div>
  </h5>

  <!--投稿の編集＆削除-->
  <% if current_customer && snack.customer == current_customer %>
    <div class="row justify-content-center mt-5">
      <%= link_to '編集する', edit_snack_path(snack), class: 'col-3 btn text-light btn-lg rounded-pill', style: 'background-color: #A0522D;' %>
    </div>
    <div class="row justify-content-end mt-5 mr-4 mb-5">
      <%= link_to '投稿の削除', snack_path(snack), method: :delete,
      "data-confirm" => "この投稿を削除してよろしいですか?", class: 'btn btn-danger btn-sm rounded-pill' %>
    </div>
  <% end %>

  <!--管理者側で不適切な投稿を削除するため-->
  <% if admin_signed_in? && snack.customer.present? %>
    <div class="row justify-content-center mt-5" style="margin-bottom: 100px;">
      <%= link_to '投稿の削除', admin_snack_path(snack), method: :delete, "data-confirm" => "この投稿を削除してよろしいですか?", class: 'col-3 btn btn-danger btn-lg' %>
    </div>
  <% end %>

  <!--コメントフォーム-->
  <% unless snack.customer == current_customer %>
  <div class="row justify-content-end mt-4 mb-5">
    <div class="col-5">
      <% if customer_signed_in? %>
        <%= form_with model: [snack, snack_comment], local: false do |f| %>
          <%= f.text_area :comment, rows:'5', placeholder: 'ここにコメントを記述します', class: 'col-8 ml-5' %>
          <%= f.submit '送信' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <!--コメント-->
  <div class="container-6">
    <div class="row">
      <div class="col-6 comment-index">
        <%= render 'public/snack_comments/comment-index', snack_comments: snack_comments %>
      </div>
    </div>
    <div class="col-3 mt-4 ml-5">
      <%= link_to_next_page snack_comments, 'コメントをもっと見る', remote: true, id: 'view_more', class: 'btn btn-outline-warning text-dark rounded-pill' %>
    </div>
  </div>


