<!--おつまみ詳細画面-->
<div class="container" style="margin-bottom: 100px; margin-top: 50px;">

  <!--おつまみ情報-->
  <div class="row d-flex justify-content-center">
    <h4><%=safe_join(snack.title.split("\n"),tag(:br))%></h4>     <!--改行表示-->
  </div>

  <div class="row mt-5">
    <div class="col">
      <%= image_tag snack.get_image(400,400) %>
    </div>
    <table class="table table-borderless col">
      <tr>
        <th class="col-5"><h5>おつまみ紹介文</h5></th>
      </tr>
      <tr>
        <td><%=safe_join(snack.introduction.split("\n"),tag(:br))%></td>
      </tr>
      <tr>
        <td>合うお酒：　<strong><%= snack.sake.genre %></storong></td>
      </tr>
      <tr>
        <td>タグ：
        <% @snack_tags.each do |tag| %>
          <strong><i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name,search_tag_path(tag_id: tag.id) %>
          </storong>
        <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <% if snack.customer.present? %>
            <%= link_to customer_path(snack.customer) do %>
              <%= image_tag snack.customer.get_profile_image(100,100), class: 'rounded-circle' %>
              <%= snack.customer.user_name %>
            <% end %>
          <% else %>
            <tr>
              <td>運営者による投稿</td>
            </tr>
          <% end %>
        </td>
      </tr>
    </table>
  </div>

  <!--おつまみのレシピ情報-->
  <div class="row d-flex justify-content-center  mt-5">
    <h4>レシピ</h4>
  </div>

  <div class="row  mt-5">
    <div class="col">
      <h5>材料</h5>
    </div>
    <div class="col">
      <h5>作り方</h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <p><%=safe_join(snack.ingredients.split("\n"),tag(:br))%></p>
    </div>
    <div class="col">
      <p><%=safe_join(snack.process.split("\n"),tag(:br))%></p>
    </div>
  </div>

  <div id="favorite-btn_<%= snack.id %>" class="row justify-content-end mr-5">
    <%= render 'public/favorites/favorite-btn', snack: @snack %>
  </div>

  <% if @snack.customer == current_customer %>
    <div class="row d-flex justify-content-center mt-5">
      <%= link_to '編集する', edit_snack_path(snack), class: 'col-3 btn btn-info btn-lg rounded-pill' %>
    </div>
    <div class="row d-flex justify-content-center mt-5">
      <%= link_to '削除する', snack_path(snack), method: :delete,
      "data-confirm" => "この投稿を削除してよろしいですか?", class: 'btn btn-danger btn-sm rounded-pill' %>
    </div>
  <% end %>

  <!--コメント-->
  <div class="comment-index container">
    <%= render 'public/snack_comments/comment-index', snack: @snack, snack_comment: @snack_comment %>
  </div>

  <!--管理者側で不適切な投稿を削除するため-->
  <% if admin_signed_in? %>
    <div class="row d-flex justify-content-center">
      <%= link_to '削除する', admin_snack_path(@snack), method: :delete, "data-confirm" => "この投稿を削除してよろしいですか?", class: 'btn btn-danger' %>
    </div>
  <% end %>
</div>

