<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <h4><%= @sake.genre %>に合うおつまみ（<%= @quantity %>品）</h4>
  </div>

  <!--タグ検索-->
  <div class="row">
    <div class="col-2">
      <h6><i class="fa-solid fa-magnifying-glass"></i>タグ検索</h6>
      <% @tags.each do |tag|%>
        <i class="fa-sharp fa-solid fa-tag"></i>
        <%=link_to tag.name, snack_tags_path(tag_id: tag.id) %>
        <%="(#{tag.snacks.count})" %>
      <% end %>
    </div>

    <!--特定のお酒に紐づいたおつまみ一覧-->
    <div class="col d-flex flex-wrap">
      <% @sake.snacks.each do |snack| %>
      <div class="flex-item mb-5" style="flex-basis: 25%;">
        <%= link_to snack_path(snack) do %>
          <p><%= image_tag(snack.get_image(200,150)) %></p>
        <% end %>
        <p><%= snack.title %></p>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center mb-3">
    <%= paginate @snacks %>
  </div>
</div>
