<div class="container" style="margin-bottom: 150px; margin-top: 40px;">
  <div class="row ml-4">
    <h4><strong><%= @sake.genre %></strong>に合うおつまみ（<%= @quantity %>品）</h4>
  </div>

  <!--タグ検索-->
  <div class="row mt-5">
    <div class="col-2 mr-5">
     <%= render 'public/homes/taglist', tags: @tags%>
    </div>

    <!--特定のお酒に紐づいたおつまみ一覧-->
    <% if @snacks.present? %>
      <div class="snack-list col d-flex flex-wrap">
        <% @snacks.each do |snack| %>
          <%= render 'public/snacks/list', snack: snack %>
        <% end %>
      </div>
    <% else %>
      <h4 class="col text-center text-muted" style="margin-top: 50px; margin-right: 50px;">
        投稿はまだありません
      </h4>
    <% end %>
  </div>

  <div class="pagination row justify-content-center" style="margin-top: 70px;">
    <%= paginate @snacks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>