<div class="container" style="margin-bottom: 150px; margin-top: 50px;">
  <div class="row ml-4">
    <h3><strong><%= @sake.genre %></strong>に合うおつまみ（<%= @quantity %>品）</h3>
  </div>

  <!--並べ替え-->
  <div class="row justify-content-end">
    <div class="col-1" style="padding-left: 35px; padding-right: 0px;">
      <%= link_to '新着順', sake_snacks_path(latest: "true"), class: 'btn btn-sm text-light', style: 'background-color: #A0522D;' %>
    </div>
    <div class="col-1 text-center" style="padding-left: 10px; padding-right: 10px;">
      <%= link_to '古い順', sake_snacks_path(old: "true"), class: 'btn btn-sm text-light', style: 'background-color: #A0522D;' %>
    </div>
    <div class="col-1 px-0">
      <%= link_to 'いいね順', sake_snacks_path(most_favorited: "true"), class: 'btn btn-sm text-light', style: 'background-color: #A0522D;' %>
    </div>
  </div>

  <!--タグ検索-->
  <div class="row">
    <div class="col-2 mr-5" style="margin-top: 60px;">
     <%= render 'public/homes/taglist', tags: @tags%>
    </div>

    <!--特定のお酒に紐づいたおつまみ一覧-->
    <% if @snacks.present? %>
      <div class="snack-list col d-flex flex-wrap mt-3">
        <% @snacks.each do |snack| %>
          <%= render 'public/snacks/list', snack: snack %>
        <% end %>
      </div>
    <% else %>
      <h3 class="col text-center text-muted" style="margin-top: 100px; margin-right: 220px;">
        投稿はまだありません
      </h3>
    <% end %>
  </div>

  <div class="pagination row justify-content-center" style="margin-top: 70px;">
    <%= paginate @snacks, theme: 'twitter-bootstrap-4', style: 'background: #A0522D;' %>
  </div>
</div>
