<div class="container" style="margin-bottom: 150px; margin-top: 50px;">
  <div class="row ml-4">
    <h3><i class="fa-sharp fa-solid fa-tag"></i> <strong><%= @tag.name %></strong>
      （<%= @quantity %>品）
    </h3>
  </div>

  <!--並べ替え-->
  <div class="row justify-content-end">
    <div class="col-1" style="padding-left: 35px; padding-right: 0px;">
      <%= link_to '新着順', search_tag_path(tag_id: @tag.id, latest: "true"), class: 'btn btn-sm text-light', style: 'background-color: #A0522D;' %>
    </div>
    <div class="col-1 text-center" style="padding-left: 10px; padding-right: 10px;">
      <%= link_to '古い順', search_tag_path(tag_id: @tag.id, old: "true"), class: 'btn btn-sm text-light', style: 'background-color: #A0522D;' %>
    </div>
    <div class="col-1 px-0">
      <%= link_to 'いいね順', search_tag_path(tag_id: @tag.id, most_favorited: "true"), class: 'btn btn-sm text-light', style: 'background-color: #A0522D;' %>
    </div>
  </div>

  <!--タグ検索-->
  <div class="row">
    <div class="col-2 mr-5"  style="margin-top: 60px;">
     <%= render 'public/homes/taglist', tags: @tags%>
    </div>

    <!--特定のタグに紐づいた投稿一覧-->
    <div class="snack-list col d-flex flex-wrap mt-3">
      <% @snacks.each do |snack| %>
        <%= render 'public/snacks/list', snack: snack %>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center" style="margin-top: 70px;">
    <%= paginate @snacks, theme: 'twitter-bootstrap-4' %>
  </div>
</div>