<div class="notice mt-3 ml-3">
  <%= flash[:notice] %>
</div>

<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col ml-5 mt-5 mb-4">
      <h4>今月のおすすめ履歴一覧</h4>
    </div>
    <div class="col mt-5 d-flex justify-content-end" style="margin-right: 90px;">
      <h1><%= link_to '新規登録', new_admin_recommendation_snack_path, class: 'btn btn-lg btn-outline-dark rounded-circle'%></h1>
    </div>
  </div>

  <table class="col-9" style="margin-left: 130px; margin-right: 90px;">
    <thead class="table table-active">
      <tr>
        <th class="col-3">作成日時</th>
        <th class="col-7 pl-4">組み合わせ</th>
        <th class="col-2 text-center">いいね数</th>
      </tr>
    </thead>
    <% @snacks.each do |snack| %>
    <tbody class="table table-borderless">
      <tr>
        <td><%= snack.created_at.strftime("%Y/%m/%d") %></td>
        <td>
          <style>
            .link-underline-dark {
            text-decoration: underline;
            }
          </style>
        　<%= link_to admin_recommendation_snack_path(snack), class: "text-dark link-underline-dark" do %>
            <strong><%= snack.sake.genre %><strong>　✖　<strong><%= snack.title %></strong>
          <% end %>
        </td>
        <td class="text-center"><%= snack.favorites.count %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class="row d-flex justify-content-center mt-3">
    <%= paginate @snacks %>
  </div>
</div>

