<div class="container mt-4 ml-15">
  <div class="col-3 text-center" style="font-family: 'Playfair Display', serif; background-color:#faf0e6;">
    <h4>お酒ジャンル一覧・追加</h4>
  </div>
</div>

<%= form_with model: @sake, url: admin_sakes_path, method: :post do |f| %>
<div class="container mt-5 ml-5">
  <div class="row d-flex justify-content-center">
    <div class="col-2 d-flex justify-content-center">
      <h6>ジャンル名</h6>
    </div>

    <div class="col-2">
      <%= f.text_field :genre, placeholder: 'ジャンル名' %>
    </div>

    <div class="col-2 d-flex justify-content-end">
      <%= f.submit '新規登録', class: 'btn btn-info btn-lg' %>
    </div>
  </div>
</div>
<% end %>

<div class="container mt-5 ml-5" style="margin-bottom: 50px;">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
    <table class="table">
      <thead class="table table-active">
        <tr>
          <td>ジャンル</td>
          <td></td>
        </tr>
      </thead>

      <% @sakes.each do |sake| %>
      <tbody>
        <tr>
          <td>
            <div class="col ml-4"><%= sake.genre %></div>
          </td>
          <td>
            <div class="col d-flex justify-content-end">
              <%= link_to '編集', edit_admin_sake_path(sake.id), class: 'btn btn-info col-7' %>
            </div>
          </td>
          <td>
            <div class="col">
              <%= link_to '削除', admin_sake_path(sake.id), method: :delete, class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    </div>
  </div>
</div>