<div class="notice ml-2 mt-2">
  <%= flash[:notice] %>
</div>

<div class="container mb-5" style="margin-top: 60px; margin-left: 100px;">
  <h4>お酒ジャンル一覧・追加</h4>
</div>

<!--ジャンル登録-->
<%= form_with model: @sake, url: admin_sakes_path, method: :post do |f| %>
<div class="container ml-5 mb-4">
  <div class="row justify-content-center" style="margin-left: 100px;">
    <div class="col-8">
    <table class="table table-borderless">
      <tr>
        <td class="col-2">ジャンル名</td>
        <td class="col-3"><%= f.text_field :genre, placeholder: 'ジャンル名' %></td>
        <td class="col-3"><%= f.submit '新規登録', class: 'btn text-light btn-lg', style: 'background-color: #A0522D;' %></td>
      </tr>
    </table>
    </div>
  </div>
</div>
<% end %>

<!--ジャンル一覧-->
<div class="container ml-5" style="margin-bottom: 150px;">
  <div class="row justify-content-center">
    <div class="col-5">
      <table class="table table">
        <tr bgcolor="#A0522D" class="text-light">
          <th class="col-5 pl-4">ジャンル</th>
          <th></th>
          <th></th>
        </tr>
        <% @sakes.each do |sake| %>
        <tr>
          <td>
            <div class="col ml-2"><%= sake.genre %></div>
          </td>
          <td>
            <div class="col d-flex justify-content-end">
              <%= link_to '編集', edit_admin_sake_path(sake.id), class: 'btn btn-warning' %>
            </div>
          </td>
          <td>
            <div class="col">
              <%= link_to '削除', admin_sake_path(sake.id), method: :delete, "data-confirm" => "このお酒を削除してよろしいですか?", class: 'btn btn-danger' %>
            </div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>