<h4>新規会員登録（無料）</h4>

<%= form_with model: @customer, url: customer_registration_path, method: :post do |f|%>

  <h6>メールアドレス（必須）</h6>
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

  <h6>パスワード（必須）</h6>
  <%= f.password_field :password, autocomplete: "new-password" %>

  <h6>確認用のパスワード（必須）</h6>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
  <h8><%= @minimum_password_length %>文字以上で入力してください。</h8><br>

  <%= f.submit '新規登録'%><br>

  <h8><%= link_to 'すでに会員の方はこちら', new_customer_session_path %></h8>

<% end %>
