<div class="row">
  <% snack.snack_comments.each do |comment| %>
  <table>
    <tr>
      <td>
        <%= image_tag(comment.customer.get_profile_image(50,50)) %><br>
        <%= link_to comment.user.name, user_path(comment.user) %>
      </td>
      <td><%= comment.comment %><td>
      <td>
        <%= link_to '削除する', admin_snack_snack_comment_path(comment.snack, comment),
        method: :delete, data: { confirm: "この投稿コメントを削除してよろしいですか？" }, class: 'btn btn-danger' %>
      </td>
    </tr>
  </table>
<% end %>
</div>

<div class="row justify-content-center">
  <%= link_to '削除する', admin_snack_path(customer), method: :delete, data: { confirm: "この投稿を削除してよろしいですか？" }, class: 'btn btn-danger' %>
</div>