<!--おつまみ詳細画面-->

<!--おつまみ情報-->
<div class="row justify-content-center" style="width: 100%; max-width: 100%;">
  <h3 style="margin-bottom: 70px; border-bottom: 6px double #000000;"><strong><%= snack.title %></strong></h3>
</div>

<div class="row">
  <div class="col mt-3" style="margin-left: 50px;">
    <%= image_tag snack.get_image(450,450) %>
  </div>
  <table class="table table-borderless col mr-2">
    <tr>
      <th class="col-7"><h5>おつまみ紹介文</h5></th>
    </tr>
    <tr>
      <td style="border: solid 2px #000000; font-size: 18px;"><%=safe_join(snack.introduction.split("\n"),tag(:br))%></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="font-size: 18px;">合うお酒： <strong><%= snack.sake.genre %></storong></td>
    </tr>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td style="font-size: 18px;">タグ：
      <% snack_tags.each do |tag| %>
        <strong><%= link_to tag.name,search_tag_path(tag_id: tag.id) %>　</storong>
      <% end %>
      </td>
    </tr>
    <tr>
      <td>運営者による投稿</td>
    </tr>
  </table>
</div>

<!--おつまみのレシピ情報-->
<div class="row justify-content-center mt-5">
  <h4><strong>レシピ</strong></h4>
</div>

<div class="row mt-4 mb-2">
  <div class="col mr-4">
    <h5>材料</h5>
    <p class="pt-2 pb-2 pl-2 pr-2" style="width: 100%; max-width: 527px; word-break: break-word; font-size: 18px; border: solid 2px #000000;">
      <%=safe_join(snack.ingredients.split("\n"),tag(:br))%>
    </p>
  </div>
  <div class="col">
    <h5>作り方</h5>
    <p class="pt-2 pb-2 pl-2 pr-2" style="width: 100%; max-width: 527px; word-break: break-word; font-size: 18px; border: solid 2px #000000;">
      <%=safe_join(snack.process.split("\n"),tag(:br))%>
    </p>
  </div>
</div>

<div class="row ml-1">
  投稿日：<%= snack.created_at.strftime("%Y/%m/%d") %>
</div>

<!--いいね-->
<h5>
  <div id="favorite-btn_<%= snack.id %>" class="row justify-content-end mb-3" style="margin-right: 70px; margin-bottom: 70px;">
    <%= render 'public/favorites/favorite-btn', snack: snack %>
  </div>
</h5>

<!--投稿の編集＆削除-->
<% if admin_signed_in?%>
  <div class="row mt-5 justify-content-center">
    <%= link_to '編集する', edit_admin_recommendation_snack_path(snack), class: 'col-3 btn text-light btn-lg', style: 'background-color: #A0522D;' %>
  </div>
  <div class="row mt-5 mb-5 mr-3 justify-content-end">
    <%= link_to '投稿の削除', admin_recommendation_snack_path(snack), method: :delete,
    "data-confirm" => "この投稿を削除してよろしいですか?", class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>

<!--コメント-->
<div class="container-6">
  <div class="row">
    <div class="col-6 comment-index">
      <%= render 'public/snack_comments/comment-index', snack_comments: snack_comments %>
    </div>
  </div>
  <div class="col-4 mt-4 ml-5"><%= link_to_next_page snack_comments, 'コメントをもっと見る', remote: true, id: 'view_more', class: 'btn btn-outline-warning text-dark rounded-pill' %></div>
</div>
