<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
  <div class="container fluid">
    <a class="navbar-brand" href= "/">WithBeer</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

      　<!--キーワード検索フォーム-->
        <%= form_with url: search_path, local: true, method: :get do |f| %>
          <li>
            <div class="col mr-3">
              <%= f.text_field :word, placeholder: 'キーワードを入力' %>
              <%= f.button :submit, class: "btn-sm btn-primary" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
          </li>
        <% end %>

        <% if admin_signed_in? %>
          <li>
            <%= link_to '会員一覧', admin_customers_path, class: "nav-link text-light" %>
          </li>
          <li>
            <%= link_to 'お酒一覧', admin_sakes_path, class: "nav-link text-light" %>
          </li>
          <li>
            <%= link_to '今月のおすすめ履歴一覧', admin_root_path, class: "nav-link text-light" %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "nav-link text-light" %>
          </li>
        <% elsif customer_signed_in? %>
          <li>
            <%= link_to customer_path(current_customer), class: "nav-link text-light" do %>
              <i class="fa-regular fa-user"></i>マイページ
            <% end %>
          </li>
          <li>
            <%= link_to favorites_customer_path(current_customer) ,class: "nav-link text-light col ml-3" do %>
              <i class="fa-solid fa-heart"></i>いいね一覧
            <% end %>
          </li>
          <li>
            <%= link_to new_snack_path, class: "nav-link text-light col ml-3" do %>
              <i class="fa-regular fa-pen-to-square"></i>レシピを投稿
            <% end %>
          </li>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link text-light col ml-3" do %>
              <i class="fa-solid fa-right-from-bracket"></i>ログアウト
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to customer_session_path, class: "nav-link text-light col ml-2" do %>
              <i class="fa-regular fa-pen-to-square"></i>レシピを投稿
            <% end %>
          </li>
          <li>
            <%= link_to customer_session_path, class: "nav-link text-light" do %>
              <i class="fa-solid fa-right-to-bracket"></i>ログイン
            <% end %>
          </li>
          <li>
            <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: "nav-link text-light" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
</header>