<!DOCTYPE html>
<html>
  <head>
    <title>Withbeer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/e3566137ff.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-image: url('<%= asset_path('body_image5.png') %>');">
    <%= render 'layouts/header' %>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="fixed-bottom text-dark" style="background-color: #FFCC00;">
        <p class="text-center mt-3">WithBeer</p>
      </div>
    </footer>
  </body>
</html>
